@import url("https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,400;0,500;1,300&display=swap");
:root {
  --green: green;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5 rem rgb(28, 24, 24);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 0.1rem solid rgba(0, 0, 0.1);
  --header-height: 10rem;
}
* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body {
  background: #eee;
}
.header {
  border: 0px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background: #fff;
  height: var(--header-height);
}
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
}
.header .logo i {
  color: var(--green);
}
.header .nav a {
  font-size: 1.7rem;
  padding: 10px;
  color: var(--black);
}
.header .nav a:hover {
  color: var(--green);
}
.header .icons div {
  border: 1px solid black;
  height: 4.5rem;
  width: 4.5rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  background-color: #eee;
  font-size: 2rem;
  margin: 1px;
  cursor: pointer;
}
.header .icons div:hover {
  background-color: var(--green);
}
#menu-btn {
  display: none;
}
.header .search-form {
  border: 0px solid;
  position: absolute;
  top: 110%;
  right: 110%;
  width: 50rem;
  height: 4rem;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow);
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s left;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding: 0 1.5rem;
}
.header .search-form label {
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--green);
}
.header .shopping-cart {
  border: 0px solid black;
  position: absolute;
  top: 100%;
  right: -110%;
  padding: 1px;
  border-radius: 0.5rem;
  box-shadow: var(--black);
  width: 30rem;
  background: #fff;
}
.header .shopping-cart.active {
  right: 2rem;
}
.header .shopping-cart .box {
  border: 0px solid black;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 5px;
  padding: 5px;
  border-radius: 0.5rem;
}
.header .shopping-cart .box img {
  height: 100px;
  width: 120px;
}
.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 30%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);
}
.header .shopping-cart .box .fa-trash:hover {
  color: red;
}
.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.header .shopping-cart .box .content span {
  color: var(--black);
  font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity {
  padding-left: 1rem;
}

.header .shopping-cart .total {
  font-size: 2.5rem;
  padding: 1rem;
  text-align: center;
}
.btn {
  border: 3px solid black;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 1rem;
  display: block;
}
.btn:hover {
  cursor: pointer;
  background-color: green;
}
.header .login-form {
  width: 300px;
  background-color: #666;
  border: 2px solid black;
  border-radius: 0.5rem;
  position: absolute;
  top: 110%;
  right: -110%;
}
.header .login-form.active {
  right: 2rem;
}
.header .login-form h3 {
  font-size: 2rem;
  display: block;
  text-align: center;
}
.header .login-form .email {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  width: 250px;
  margin-left: 20px;
}
.header .login-form .password {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  width: 250px;
  margin-left: 20px;
}
.header .login-form .forgot-password {
  padding-left: 40%;
}
.header .login-form .click-here {
  padding-left: 40%;
}
.header .login-form .click-here:hover {
  color: green;
  cursor: pointer;
}
.header .login-form .no-account {
  padding-left: 40%;
}
.header .login-form .btn {
  width: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
}
section {
  padding-top: 10rem;
}
.home {
  border: 0px solid black;
  width: 1250px;
  height: 150px;
  display: flex;
  justify-content: center;
  background: url(../image/fruits.png) no-repeat;
  background-size: 10rem 10rem;
  background-position: center;
  background-size: cover;
  padding-top: 50rem;
}
.home .content {
  background-color: transparent;
  height: 200px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  padding-bottom: 2rem;
  border-radius: 10px;
}
.home .content h3 {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}
.home .content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.home .content .btn {
  display: block;
  margin: 2rem auto 0;
  text-align: center;
  width: 20rem;
}
.features .heading {
  position: absolute;
  top: 90%;
  padding-left: 520px;
  font-size: 2rem;
  color: var(--black);
}
.heading span {
  background-color: var(--green);
  padding: 10px;
  color: #fff;
}
.features .box-container {
  border: 0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-left: 70px;
  margin-right: 70px;
}
.features .box-container .box {
  border: 2px solid black;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 300px;
  outline: var(--outline);
  outline-offset: -1rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.features .box-container .box img {
  border-radius: 50%;
  height: 150px;
  padding-bottom: 10px;
}
.features .box-container .box h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.features .box-container .box p {
  font-size: 1rem;
  padding-bottom: 10px;
}
.features .box-container .box .btn {
  width: 200px;
  display: flex;
  justify-content: center;
}
.features .box-container .box:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px 4px var(--green);
}
.heading{
  text-align: center;
  font-size: 2rem;
  padding:2rem;
}
.products .product-slider{
  padding:2rem;
  border:2px solid black;
  display:inline-block;
}